.git
.gitignore
__pycache__
*.py[cod]
*$py.class
.venv
venv/
env/
data/
data_orig/
orig_data/
.dvc/
*.dvc
mlruns/
mlflow.db
mlflow.log
tests/
.pytest_cache/
*.md
.vscode/
.idea/
.DS_Store
*.log
feature_repo/
src/
k8s/
